{% set active_page = "conducteurs" %}
{% extends "base.html" %}
{% from "bootstrap/pagination.html" import render_pagination %}
{% block content %}
<table class="table table-bordered table-striped">
<tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Date de naissance</th>
    <th>Modifier</th>
    <th>Supprimer</th>
</tr>
{% for conducteur in conducteur_list.items %}
    <tr>
        <td> {{ conducteur.nom }} </td>
        <td> {{ conducteur.prenom }} </td>
        <td> {{ conducteur.date_naissance }} </td>
        <td> <a href="{{ url_for('conducteur_form')}}?id={{ conducteur.id }}">Modifier</a> </td>
        <td> <a href="/conducteur/delete?id={{ conducteur.id }}">Supprimer</a> </td>
{% endfor %}
</table>
{{ render_pagination(conducteur_list) }}
<a href="{{ url_for('conducteur_form')}}">Ajouter un conducteur</a>
{% endblock %}

