Cython==0.23.4
-e git://github.com/openmaraude/APITaxi_utils.git@06b656d0fcddaa9b769637ef0e97a214396329ef#egg=APITaxi_utils
-e git://github.com/openmaraude/APITaxi_models.git@7a3336fcc58b5db275ca83cd778ce9aa29df2fb1#egg=APITaxi_models
nose==1.3.7
Flask-Testing==0.4.2
Flask-Dogpile-Cache==0.2
Flask-Redis==0.3.0
Flask-Celery-Helper==1.1.0
Flask-Cors==2.1.2
psycopg2==2.6.1
shortuuid==0.4.2
parse==1.6.6
geopy==1.11.0
Flask-Uploads==0.2.1
Flask-Script==2.0.5
Flask-Migrate==1.8.1
Shapely==1.5.13
pyshp==1.2.3
