{% set active_page = "drivers" %}
{% extends "base.html" %}
{% from "bootstrap/pagination.html" import render_pagination %}
{% block content %}
<table class="table table-bordered table-striped">
<tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Date de naissance</th>
    <th>Modifier</th>
</tr>
{% for driver in driver_list.items %}
    <tr>
        <td> {{ driver.last_name }} </td>
        <td> {{ driver.first_name }} </td>
        <td> {{ driver.birth_date }} </td>
        <td> <a href="{{ url_for('drivers.driver_form')}}?id={{ driver.id }}">Modifier</a> </td>
{% endfor %}
</table>
{{ render_pagination(driver_list) }}
<a href="{{ url_for('drivers.driver_form')}}">Ajouter un conducteur</a>
{% endblock %}

