version: 2

jobs:
  test:
    docker:
      - image: circleci/python:3.6.6-stretch
      - image: circleci/postgres:10.5-postgis-ram
        environment:
          POSTGRES_USER: ubuntu
          POSTGRES_DB: circle_test
      - image: redis:4.0.1
      - image: openmaraude/geotaxi:latest
    environment:
      SQLALCHEMY_DATABASE_URI: 'postgresql://ubuntu:@127.0.0.1:5432/circle_test'
      REDIS_URL: "redis://:@localhost:6379/0"
      SECURITY_PASSWORD_HASH: 'plaintext'
      APITAXI_CONFIG_FILE: 'test_settings.py'
    steps:
      - checkout
      - run: sudo apt-get install golang-go libgeos-dev
      - run: git clone https://github.com/openmaraude/faker && cd faker && go build && cd ..
      - run: git clone https://github.com/openmaraude/minimal_operateur_server
      - run:
          name: install dependencies
          command: |
            mkdir -p ./venv
            virtualenv ./venv
            . venv/bin/activate
            pip install git+https://github.com/openmaraude/APITaxi_utils.git
            pip install git+https://github.com/openmaraude/APITaxi_models.git
            pip install .
      - run:
          name: Fake positions
          command: ./faker/faker
          background: true
      - run:
          name: Launch minimal operateur server
          command: |
            . venv/bin/activate
            pip install ./minimal_operateur_server
            FLASK_APP=minimal_operateur_server.api flask run --port 5001
          background: true
      - run:
          name: Launch worker
          command: |
            . venv/bin/activate
            celery worker --app=celery_worker.celery -Q send_hail_time_test
          background: true
      - run:
          name: Run tests
          command: |
            . venv/bin/activate
            nosetests --stop

  build:
    docker:
      - image: circleci/buildpack-deps:stretch
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build docker image
          command: |
            docker build -t openmaraude/apitaxi:${CIRCLE_TAG} .
            docker tag openmaraude/apitaxi:${CIRCLE_TAG} openmaraude/apitaxi:latest
      - run:
          name: Publish docker Image to hub.docker.com
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            docker push openmaraude/apitaxi:${CIRCLE_TAG}
            docker push openmaraude/apitaxi:latest

workflows:
  version: 2

  # Run unittest
  test:
    jobs:
      - test

  # Build artifacts
  artifacts:
    jobs:
      - test:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/

      - build:
          requires:
            - test
          filters:
            tags:
              only: /.*/
