.chart_container {
    float:left;
    width: 465px;
}
.row_chart {
    width:100%;
}
.phantom_chart {
    float: left;
    width: 200px;
    padding: 30px;
}

.ville_chart {
    font-size: 70px;
    margin: 0 auto;
    width: 235px;
    float: left;
}

.nb_taxis {
    float: left;
    font-size: 50px;
    padding: 30px;
    padding-top: 15px;
    width: 200px;
    text-align: right;
}

.chart {
    float: left;
}
