{% set active_page = 'dash' %}
{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/rickshaw.min.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='js/d3.min.js')}}"></script>
<script src="{{url_for('static', filename='js/d3.layout.min.js')}}"></script>
<script src="{{url_for('static', filename='js/rickshaw.min.js')}}"></script>
<script src="{{url_for('static', filename='js/ajax_graph.js')}}"></script>
<script>
new AjaxGraph( {
    apikey: "{{apikey}}",
    element: document.getElementById("chart"),
    width: 235,
    height: 85,
    renderer: 'line',
    dataURL: '{{url_for("api.taxis_active")}}',
    onData: function(d) { return [{name: "taxis", data: d.data}]; },
    onComplete: function(transport) {
        var graph = transport.graph;
        var axes = new Rickshaw.Graph.Axis.Time({graph: graph});
        graph.render();
    },
    series: [{name: "taxis", color: '#000000'}]
} );

</script>
{% endblock %}

{% block content %}
<div id="chart"></div>
{% endblock %}
