{% extends "documentation/base.html" %}
{% block styles %}
 {{super()}}
 <style>
.menu-index ul{
height:auto;
}
 </style>
{% endblock %}
{% block documentationcontent %}

<div style="float:right">
Départment : <select onChange="location.search = location.search.replace(/[^&$]*/i, 'dep=' + $(this).val());">
<option value="00" {% if dep==0 %} selected="selected"{% endif %}>France entière</option>
{% for n in range(1,10) %}
<option value="0{{ n }}" {% if dep==n %} selected="selected"{% endif %}>0{{ n }}</option>
{% endfor %}
{% for n in range(10,96) %}
<option value="{{ n }}" {% if dep==n %} selected="selected"{% endif %}>{{ n }}</option>
{% endfor %}
</select>
</div>

<h2>Nombres de Taxis</h2>
<table class="pure-table pure-table-bordered pure-table-horizontal pure-table-striped">
    <thead><tr><td>Opérateur</td><td title="Taxis actifs sur les dernières 24h">Taxis actifs</td><td title="(Taxis actifs sur les 6 derniers mois)">(Taxis total)</td></tr></thead>
       {% for k, v in nb_taxis.iteritems() %}
       <tr><td>{{ k }}</td><td>{{ v['nactivetaxis']|default("0", True) }}</td><td>({{ v['ntaxis']|default("0", True) }})</td></tr>
       {% endfor %}
</table>


<h2>Nombres de Courses</h2>
<table class="pure-table pure-table-bordered pure-table-horizontal pure-table-striped">
    <thead><tr><td> </td><td>Courses OK du jour</td><td>(Demandes de course du jour)</td><td>Courses OK cumulées</td><td>(Demandes de course cumulées)</td></tr></thead>
       {% for k, v in nb_hails.iteritems() %}
       <tr><td>{{ k }}</td><td>{{ v['nhails_ok_d']|default("0", True) }}</td><td>({{ v['nhails_d']|default("0", True) }})</td><td>{{ v['nhails_ok_y']|default("0", True) }}</td><td>({{ v['nhails_y']|default("0", True) }})</td></tr>
       {% endfor %}
</table>


{% if taxis %}
<h2>Taxis actifs</h2>
<table class="pure-table pure-table-bordered pure-table-horizontal pure-table-striped">
    <thead><tr><td>Taxi</td><td>Opérateur</td><td>INSEE</td><td>Ville</td><td>ADS</td><td>Carte Pro</td><td>rafraichissment</td></tr></thead>
    {% for k, v in taxis.iteritems() %}
    <tr><td>{{ k }}</td><td>{{ v['added_by'] }}</td><td>{{ v['ads.insee'] }}</td><td>{{ v['zupc.nom'] }}</td><td>{{ v['ads.numero'] }}</td><td>{{ v['driver.professional_licence'] }}</td><td>{{ v['last_update_at'] }}</td></tr>
     {% endfor %}
</table>
{% endif %}

{% if hails %}
 <h2>Courses récentes</h2>
 <table class="pure-table pure-table-bordered pure-table-horizontal pure-table-striped">
     <thead><tr><td>Date</td><td>Course</td><td>Moteur</td><td>Opérateur</td><td>INSEE</td><td>Ville</td><td>Etat</td></tr></thead>
     {% for k, v in hails.iteritems() %}
     <tr><td>{{ v['creation_datetime'] }}</td><td>{{ k }}</td><td>{{ v['added_by'] }}</td><td>{{ v['operator'] }}</td><td>{{ v['ads.insee'] }}</td><td>{{ v['zupc.nom'] }}</td><td>{{ v['last_status'] }}</td></tr>
      {% endfor %}
 </table>
 {% endif %}



{% endblock %}
